*{
    margin: 0;
    padding: 0;
}
.blog-post{
    width: 80%;
    height: 300px;
    background-color: rgb(13, 13, 13);
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
}
.top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.profile-info a,span{
    text-decoration: none;
    color: white;
}
.post-content{
    color: white;
    margin: auto;
    width: 70%;
    height: 150px;
    border-radius: 20px;
}
.post-content p{
    background-color: rgb(22, 22, 22);
    padding: 5px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bottom-options{
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(34, 34, 34);
    margin: auto;
    border-radius: 20px;
   
}
.edit-btn{
    width: 100%;
    text-align: center;
    margin: auto;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 20px;
}
.edit-btn button{
    width: 95%;
    padding: 5px;
    border-radius: 10px;
    background-color: azure;
    text-transform: uppercase;
    border: none;
}
.edit-btn button:hover{
    background-color: rgb(14, 14, 14);
    color: white;
}
.delete-btn{
    width: 100%;
    text-align: center;
    margin: auto;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 20px;
}
.delete-btn button{
    width: 95%;
    padding: 5px;
    border-radius: 10px;
    background-color: azure;
    text-transform: uppercase;
    border: none;
}
.delete-btn button:hover{
    background-color: rgb(14, 14, 14);
    color: white;
}
.post-content span a{
    text-decoration: none;
    color: rgb(43, 156, 255);
}
.post-content span a:hover{
    color: rgb(255, 255, 255);
}